<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
	this.DefineWithMethodsPerProperty = true;
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt.inc" #>
<#+
	abstract class XmlNode {
		string localName;
	}

	class XmlElement : XmlNode {
		string namespaceName;
		ImmutableList<XmlNode> children;
	}

	class XmlElementWithContent : XmlElement {
		string content;
	}

	class XmlAttribute : XmlNode {
		string namespaceName;
		string value;
	}
#>
