<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph";
	this.TemplateType = typeof(Basket);
#>
<#@ Include File="ImmutableObjectGraph.tt" #>
<#+
    private interface IPlant { }

	class Fruit {
		string color;
		int skinThickness;
	    IPlant growsOn;
	}

    class Basket {
		int size;
		Fruit[] contents;
	}
#>
