<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt.inc" #>
<#+
	abstract class Abstract1 {
		int Abstract1Field1;
		int Abstract1Field2;
	}

	abstract class Abstract2 : Abstract1 {
		int Abstract2Field1;
		int Abstract2Field2;
	}

	class ConcreteOf2Abstracts : Abstract2 {
		int ConcreteField1;
		int ConcreteField2;
	}
#>
