<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt" #>
<#+
	class A {
		int field1;
	}

	class B : A {
		int field2;
	}

	class C1 : B {
		int field3;
	}

	class C2 : B {
		int field3; 
	}
#>
