<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.ForLocalTests.tt" #>
<#+
	#pragma warning disable 0169 // The field '{0}' is never used
	class A {
		int field1;
	}

	class B : A {
		int field2;
	}

	class C1 : B {
		int field3;
	}

	class C2 : B {
		int field3; 
	}
	#pragma warning restore 0169
#>
