<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt" #>
<#+
	class Empty {
	}

	class EmptyDerived : Empty {
	}

	class NotSoEmptyDerived : Empty {
		bool OneField;
	}

	class NonEmptyBase {
		bool OneField;
	}

	class EmptyDerivedFromNonEmptyBase : NonEmptyBase {
	}
#>
