<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.RedNode.tt" #>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt" #>
<#+
	abstract class FileSystemEntry {
		[Required]
		string pathSegment;
	}

	class FileSystemFile : FileSystemEntry {
		ImmutableHashSet<string> attributes;
	}

	class FileSystemDirectory : FileSystemEntry {
		ImmutableSortedSet<FileSystemEntry> children;
	}
#>
