<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
	this.TemplateType = typeof(Family);
	this.UseClassCollectionType = true;
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt" #>
<#+
	class Family {
		Person[] members;
	}

	class Person {
		string name;
		int age;
		Watch watch;
	}

	class Watch {
		string color;
		int size;
	}
#>
