<#@ template debug="true" language="C#" #>
<#@ assembly name="System.Drawing" #>
<#@ Import Namespace="System.Drawing" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
	this.ImportNamespaces.Add("Microsoft.VisualStudio.ProjectSystem.Properties");
	this.DefineInterfaces = true;
	this.DefineBuilders = true;
	this.DefineWithMethodsPerProperty = true;
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.RedNode.tt.inc" #>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.Delta.tt.inc" #>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt.inc" #>
<#+
	[Ignore]
	public interface IRule { }

	[Ignore]
	public interface IProjectPropertiesContext { }

	[Ignore]
	public interface IPropertySheet { }

	class ProjectTree {
		[Required]
		string caption;
		string filePath;
		System.Drawing.Image icon;
		System.Drawing.Image expandedIcon;
		bool visible;
		IRule browseObjectProperties;
		ImmutableHashSet<string> capabilities;
		ImmutableSortedSet<ProjectTree> children;
	}

	class ProjectItemTree : ProjectTree {
		[Required]
		IProjectPropertiesContext projectPropertiesContext;
		IPropertySheet propertySheet;
		bool isLinked;
	}
#>
