<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "ImmutableObjectGraph.Tests";
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt" #>
<#+
	class ReqAndHierL1 {
		string l1Field1;
		[Required]
		string l1Field2;
	}

	class ReqAndHierL2 : ReqAndHierL1 {
		string l2Field1;
		[Required]
		string l2Field2;
	}
#>
