<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "Demo";
	this.DefineWithMethodsPerProperty = true;
	this.DefineBuilders = true;
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt.inc" #>
<#+
class Fruit {
	string color;
	int skinThickness;
}
#>
