<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "Demo";
	this.TemplateType = typeof(Basket);
	this.UseClassCollectionType = false;
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt" #>
<#+
	class Fruit {
		string color;
		int skinThickness;
		ICloneable growsOn;
	}

	class Basket {
		int size;
		Fruit[] contents;
	}
#>
