<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "Demo";
#>
<#@ Include File="BaseImmutableObjectGraph.tt" #>
<#+
class Fruit {
	string color;
	int skinThickness;
}
#>
