<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "Demo";
#>
<#@ Include File="BaseImmutableObjectGraph.tt" #>
<#+
#pragma warning disable 0169 // The field '{0}' is never used
	class Message {
		Contact author;
		ImmutableList<Contact> to;
		ImmutableList<Contact> cc;
		ImmutableList<Contact> bcc;
		string subject;
		string body;
	}

	class Contact {
		string name;
		string email;
	}
	#pragma warning restore 0169
#>
