<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "Demo";
	this.DefineWithMethodsPerProperty = true;
	this.DefineBuilders = true;
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt.inc" #>
<#+
	class Message {
		Contact author;
		ImmutableList<Contact> to;
		ImmutableList<Contact> cc;
		ImmutableList<Contact> bcc;
		string subject;
		string body;
	}

	class Contact {
		string name;
		string email;
	}
#>
