<#@ template debug="true" language="C#" #>
<#@ Output Extension=".generated.cs" #>
<#
	this.Namespace = "XmlNodeTree";
#>
<#@ Include File="..\ImmutableObjectGraph\ImmutableObjectGraph.tt" #>
<#+
	class XmlNode {
		string tagName;
		string tagNamespace;
		string tagPrefix;
		ImmutableList<XmlNode> children;
	}
#>
